
/* lightbox and overlay */
.b-overlay { display:none; height:100%; bottom:0; left:0; position:fixed; right:0; top:0; opacity:0.35; background:#000000; z-index:1000; filter:alpha(opacity=35);}

.b-lightbox { display:none; width:600px; margin-left:-300px; left:50%; top:20%; position:absolute; z-index:1001; text-align:left; background:#fff; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}	
	
	.b-lightbox .b-title-bar { position:relative; padding:9px 14px; background:#ececee url('../i/lightbox-grad-bg.png') 0 0 repeat-x; -moz-border-radius-topleft:3px; -webkit-border-top-left-radius:3px; border-top-left-radius:3px;	-moz-border-radius-topright:3px; -webkit-border-top-right-radius:3px; border-top-right-radius:3px;}
		.b-lightbox .b-title-bar .b-title { font-size:1.1em; font-weight:bold; width:80%; color:#000; line-height:1.2;}
		.b-lightbox .b-title-bar .b-close-btn { position:absolute; top:9px; right:14px;}
			.b-lightbox .b-title-bar .b-close-btn a { text-indent:-9999px; display:block; height:15px; width:15px; background:url('../i/lightbox-close-ico-spr.png') 100% 0 no-repeat; }
			.b-lightbox .b-title-bar .b-close-btn a:hover { background:url('../i/lightbox-close-ico-spr.png') 100% -15px no-repeat; }

	.b-lightbox .b-content { padding:17px 8px 17px 18px; background:#fff url('../i/lightbox-content-grad-bg.png') 0 0 repeat-x; -moz-border-radius-bottomleft:3px; -webkit-border-bottom-left-radius:3px; border-bottom-left-radius:3px; -moz-border-radius-bottomright:3px; -webkit-border-bottom-right-radius:3px; border-bottom-right-radius:3px;}
		.b-lightbox .b-content .b-scroller { max-height:350px; padding-right:10px; overflow-x: hidden; overflow-y: auto; //padding-right:25px;}

		.b-lightbox .b-content p { color:#000; line-height:1.5em; margin: 0 0 1.4em;}
		
		.b-lightbox .b-content input[type="checkbox"] { margin-right:3px; position:relative; top:1px;}
		.b-lightbox .b-content .m-data input[type="checkbox"] { margin:0; top:0;//position:static;}
		
		

.m-data { color:#535353; margin-bottom:1.5em; border-top:1px solid #ebebc9;}
.m-data th { color:#535353; font-weight:bold; padding:7px 8px 8px; background:#f0ebc1}
.m-data td { color:#535353; padding:4px 8px 3px; border-bottom:1px solid #e0deb8}	
.m-data .m-right { text-align:right}
.m-data a { color:#4C81A3; text-decoration:none}
.m-data a:hover { color:#4C81A3;}

.m-faded { color:#535353}
.m-bold { font-weight:bold}

.datePicker { z-index:1002!important}