.THIS .comments {width: 100%;}
.THIS .slds-input--small {text-align: right;}
.THIS .date {text-align: left!important;}
.THIS .hidden {display: none;}
.THIS .uiInput--datetime .datePicker-openIcon {display: none;}