# This file is used for Git repositories to specify intentionally untracked files that Git should ignore. 
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore
# For useful gitignore templates see: https://github.com/github/gitignore

# Salesforce cache
.sf/
.sfdx/
.localdevserver/
deploy-options.json

# LWC VSCode autocomplete
**/lwc/jsconfig.json

# LWC Jest coverage reports
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Local environment variables
.env
force-app/main/default/objectTranslations/All_Event_Expense_User_VisibilitySetting__mdt-en_US/All_Event_Expense_User_VisibilitySetting__mdt-en_US.objectTranslation-meta.xml
force-app/main/default/reports/CRM_180925_Sample_Sales_Reports/CRM_180925_Sample_Sales_Dashboards_Reports/CRM_180925_Complete_Sales_Candences_amp_Trackers_Report.report-meta.xml
force-app/main/default/reports/CRM_180925_Sample_Sales_Reports/CRM_180925_Sample_Sales_Dashboards_Reports/CRM_180925_Contacts_with_Sales_Cadence_Trackers_Report.report-meta.xml
force-app/main/default/reports/CRM_180925_Sample_Sales_Reports/CRM_180925_Sample_Sales_Dashboards_Reports/CRM_180925_Lead_Cadence_Tracker_Conversion_Report.report-meta.xml
force-app/main/default/reports/CRM_180925_Sample_Sales_Reports/CRM_180925_Sample_Sales_Dashboards_Reports/CRM_180925_Leads_Converted_by_Sales_Rep_Report.report-meta.xml
force-app/main/default/reports/CRM_180925_Sample_Sales_Reports/CRM_180925_Sample_Sales_Dashboards_Reports/CRM_180925_Leads_with_Sales_Cadence_Trackers_Report.report-meta.xml
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/.gitignore
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/LICENSE
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/NOTICE
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/README.md
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Calendar View/Day Calendar.html
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Calendar View/To-do Tasks.html
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Data Input/Standard.html
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Data Input/Survey.html
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Detail View/Detail View 1.html
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Detail View/Detail View 2.html
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Detail View/Detail View 3.html
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/List View/Carousel.html
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/List View/Collapsible.html
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/List View/Picture.html
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/List View/Standard.html
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/List View/Tabbed.html
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/List View/Timeline.html
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Map View/Map View 1.html
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Map View/Map View 2.html
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Miscellaneous/Credits screen.html
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Miscellaneous/Settings screen.html
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Miscellaneous/Splash screen.html
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Reports and Dashboards/Bar Chart.html
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Reports and Dashboards/Donut.html
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Reports and Dashboards/Gauge.html
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Reports and Dashboards/Line Chart.html
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Sample Apps/Contacts Viewer/README.md
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Sample Apps/Contacts Viewer/src/package.xml
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Sample Apps/Contacts Viewer/src/classes/Contacts_Ext.cls
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Sample Apps/Contacts Viewer/src/classes/Contacts_Ext.cls-meta.xml
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Sample Apps/Contacts Viewer/src/pages/ContactList.page
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Sample Apps/Contacts Viewer/src/pages/ContactList.page-meta.xml
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Sample Apps/Contacts Viewer/src/staticresources/BlankAvatar.resource
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Sample Apps/Contacts Viewer/src/staticresources/BlankAvatar.resource-meta.xml
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Sample Apps/Contacts Viewer/src/staticresources/path_js.resource
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Sample Apps/Contacts Viewer/src/staticresources/path_js.resource-meta.xml
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Sample Apps/Contacts Viewer/src/staticresources/underscore_1_5_1.resource
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/Sample Apps/Contacts Viewer/src/staticresources/underscore_1_5_1.resource-meta.xml
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/config.rb
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/css/app.css
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/css/app.min.css
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/css/sass/_base.sass
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/css/sass/_date_picker.sass
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/css/sass/_detail_view.sass
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/css/sass/_form_elements.sass
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/css/sass/_global.sass
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/css/sass/_list_view.sass
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/css/sass/_map.sass
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/css/sass/_misc.sass
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/css/sass/_nouislider.sass
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/css/sass/_reports.sass
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/css/sass/_swipeview.sass
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/css/sass/app.sass
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/milestones-stripe.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/week-planner-bg.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/form-button-finish.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/form-button-next.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/form-button-previous.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/gear-white.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/gear.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/gray-email.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/gray-phone.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/left-arrow-white.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/left-arrow.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/map-dot.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/menu.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/milestone-complete.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/milestone-current.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/milestone-future.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/minus.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/plus.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/right-arrow.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/small-tile-email.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/small-tile-phone.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/thumbs-down.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/thumbs-up.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/tile-camera.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/tile-chat.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/tile-checkbox.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/tile-closeloss.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/tile-closewin.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/tile-email.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/tile-followup.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/tile-history.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/tile-info.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/tile-map.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/tile-mapmarker.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/tile-note.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/tile-notice.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/tile-phone.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/tile-reload.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/icons/toggle.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/placeholders/account-0.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/placeholders/account-1.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/placeholders/contact-0.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/placeholders/contact-1.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/placeholders/contact-2.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/placeholders/contact-3.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/placeholders/contact-4.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/placeholders/logo.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/placeholders/gallery/pic01.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/placeholders/gallery/pic02.jpg
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/placeholders/gallery/pic03.jpg
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/placeholders/gallery/pic04.jpg
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/placeholders/gallery/pic05.jpg
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/images/placeholders/gallery/pic06.jpg
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/js/d3.v3.min.js
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/js/gauge.min.js
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/js/jquery.nouislider.min.js
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/js/jquery.touchwipe.min.js
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/js/jQuery2.0.2.min.js
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/js/main.min.js
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/js/swipeview.min.js
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/js/zebra_datepicker.min.js
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/js/src/gauge.js
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/js/src/jquery.touchwipe.js
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/js/src/main.js
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/js/src/swipeview.js
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/js/src/zebra_datepicker.js
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/json/products.json
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/json/sales.json
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/common/json/survey.json
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/screenshots/Calendar-View-Day-Calendar.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/screenshots/Calendar-View-ToDo-Tasks.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/screenshots/Data-Input-Standard.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/screenshots/Data-Input-Survey.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/screenshots/Detail-View-1.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/screenshots/Detail-View-2.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/screenshots/Detail-View-3.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/screenshots/List-View-Carousel.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/screenshots/List-View-Collapsible.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/screenshots/List-View-Picture.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/screenshots/List-View-Standard.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/screenshots/List-View-Tabbed.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/screenshots/List-View-Timeline.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/screenshots/Map-View-1.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/screenshots/Map-View-2.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/screenshots/Miscellaneous-Credits.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/screenshots/Miscellaneous-Settings.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/screenshots/Miscellaneous-Splash.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/screenshots/Reports-Bar-Chart.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/screenshots/Reports-Donut.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/screenshots/Reports-Gauge.png
force-app/main/default/staticresources/pi__Mobile_Design_Templates/Mobile-Design-Templates-master/screenshots/Reports-Line-Chart.png
