/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: HL Video Link Table;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 3;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	vertical-align: middle;
	text-align: left;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	vertical-align: middle;
	text-align: left;
}


/* Cell Styles: */
 
.TableStyle-HL_Video_Link_Table
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: none;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-HL_Video_Link_Table-Column-Column1
{
	
}

.TableStyle-HL_Video_Link_Table-HeadI-Column1-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-HL_Video_Link_Table-HeadI-Column1- p
{
	
}

.TableStyle-HL_Video_Link_Table-HeadE-Column1-
{
	text-align: left;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-HL_Video_Link_Table-HeadE-Column1- p
{
	
}

.TableStyle-HL_Video_Link_Table-HeadF-Column1-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-HL_Video_Link_Table-HeadF-Column1- p
{
	
}

.TableStyle-HL_Video_Link_Table-HeadH-Column1-
{
	text-align: left;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-HL_Video_Link_Table-HeadH-Column1- p
{
	
}

.TableStyle-HL_Video_Link_Table-HeadD-Column1-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-HL_Video_Link_Table-HeadD-Column1- p
{
	
}

.TableStyle-HL_Video_Link_Table-HeadC-Column1-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-HL_Video_Link_Table-HeadC-Column1- p
{
	
}

.TableStyle-HL_Video_Link_Table-HeadB-Column1-
{
	text-align: left;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-HL_Video_Link_Table-HeadB-Column1- p
{
	
}

.TableStyle-HL_Video_Link_Table-HeadA-Column1-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-HL_Video_Link_Table-HeadA-Column1- p
{
	
}

.TableStyle-HL_Video_Link_Table-HeadG-Column1-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-HL_Video_Link_Table-HeadG-Column1- p
{
	
}

.TableStyle-HL_Video_Link_Table-FootI-Column1-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-HL_Video_Link_Table-FootI-Column1- p
{
	
}

.TableStyle-HL_Video_Link_Table-FootE-Column1-
{
	text-align: left;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-HL_Video_Link_Table-FootE-Column1- p
{
	
}

.TableStyle-HL_Video_Link_Table-FootF-Column1-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-HL_Video_Link_Table-FootF-Column1- p
{
	
}

.TableStyle-HL_Video_Link_Table-FootH-Column1-
{
	text-align: left;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-HL_Video_Link_Table-FootH-Column1- p
{
	
}

.TableStyle-HL_Video_Link_Table-FootD-Column1-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-HL_Video_Link_Table-FootD-Column1- p
{
	
}

.TableStyle-HL_Video_Link_Table-FootC-Column1-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-HL_Video_Link_Table-FootC-Column1- p
{
	
}

.TableStyle-HL_Video_Link_Table-FootB-Column1-
{
	text-align: left;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-HL_Video_Link_Table-FootB-Column1- p
{
	
}

.TableStyle-HL_Video_Link_Table-FootA-Column1-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-HL_Video_Link_Table-FootA-Column1- p
{
	
}

.TableStyle-HL_Video_Link_Table-FootG-Column1-
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-HL_Video_Link_Table-FootG-Column1- p
{
	
}

.TableStyle-HL_Video_Link_Table-Body-Body1
{
	
}

.TableStyle-HL_Video_Link_Table-BodyI-Column1-Body1
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-HL_Video_Link_Table-BodyI-Column1-Body1 p
{
	
}

.TableStyle-HL_Video_Link_Table-BodyE-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-HL_Video_Link_Table-BodyE-Column1-Body1 p
{
	
}

.TableStyle-HL_Video_Link_Table-BodyF-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-HL_Video_Link_Table-BodyF-Column1-Body1 p
{
	
}

.TableStyle-HL_Video_Link_Table-BodyH-Column1-Body1
{
	text-align: left;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-HL_Video_Link_Table-BodyH-Column1-Body1 p
{
	
}

.TableStyle-HL_Video_Link_Table-BodyD-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: middle;
}

.TableStyle-HL_Video_Link_Table-BodyD-Column1-Body1 p
{
	
}

.TableStyle-HL_Video_Link_Table-BodyC-Column1-Body1
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-HL_Video_Link_Table-BodyC-Column1-Body1 p
{
	
}

.TableStyle-HL_Video_Link_Table-BodyB-Column1-Body1
{
	text-align: left;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-HL_Video_Link_Table-BodyB-Column1-Body1 p
{
	
}

.TableStyle-HL_Video_Link_Table-BodyA-Column1-Body1
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-HL_Video_Link_Table-BodyA-Column1-Body1 p
{
	
}

.TableStyle-HL_Video_Link_Table-BodyG-Column1-Body1
{
	text-align: left;
	vertical-align: middle;
}

.TableStyle-HL_Video_Link_Table-BodyG-Column1-Body1 p
{
	
}


