.THIS .uiInputNumber {width: 60px;}
.THIS .uiButton.sort {
	background: url(/resource/SLDS090/assets/icons/utility-sprite/svg/symbols.svg#arrowdown) no-repeat;
}
.THIS .align-right{
    text-align: right;
}