.THIS .uiInputNumber {width: 50px; text-align: right;}
.THIS .uiButton.sort {
	background: url(/resource/SLDS090/assets/icons/utility-sprite/svg/symbols.svg#arrowdown) no-repeat;
}
.THIS .align-right{
    text-align: right;
}
.THIS .hidden {display: none;}