.DNB_Picklist{
  opacity: 1 ;
}

.DNB_PicklistValue{
  color: #16325C;
  font-size: 12px;
  line: 17px(1,4);	 
}

.DNB_PreviousUpdate{
color: #002E41;
opacity: 1;
font-size: 13px;
character: 0px;
line: 18px(1.4);
}

.DNB_AccordionTabName{
color: #005172;
opacity: 1;
font-size: 26px;
font-weight: 600;
character: 0px;
line: 36px(1.4);
}

.DNB_RecordType{
color: #728D96;
font-size: 12px;
}

.DNB_AccountName{
color: #009ECE;
opacity: 1;
font-size: 13px;
character: 0px;
line: 18px(1.4);
}

.DNB_BillingAddress{
color: #002E41;
opacity: 1;
font-size: 13px;
character: 0px;
line: 18px(1.4)
}

.DNB_Url{
color: #005172;
font-size: 12px;
}

.DNB_DataTableName{
color: #005172;
font-size: 20px;
font-weight:600;
}

.DNB_PieHeaders{
color: #002E41;
opacity: 1;
font-size: 14px;
character: 0px;
line: 19px(1.4);
}

.DNB_Piename{
color: #728D96;
opacity: 1;
font-size: 12px;
}

.DNB_PieDataFigures{
color: #00B2A9;
font-size: 51px;
}

.redColor {color: red}


