/* Motif for Aloha Skin */
.Custom21Tab  .primaryPalette,
.individualPalette .Custom21Block .primaryPalette {
    background-color: #6666CC;
    border-color: #6666CC;
}
.Custom21Tab  .secondaryPalette,
.individualPalette .Custom21Block .secondaryPalette {
    background-color: #6666CC;
    border-color: #6666CC;
}
.Custom21Tab  .tertiaryPalette,
.individualPalette .Custom21Block .tertiaryPalette,
.layoutEdit .individualPalette .Custom21Block .tertiaryPalette {
    background-color: #9898CD;
    border-color: #9898CD;
}
.Custom21Tab .bgdPalette {
    background-color: #6666CC;
}
.Custom21Tab .brdPalette {
    border-top-color: #6666CC;
}

/** Page Blocks, Related Lists, Enhanced List and Dashboard **/
.Custom21Tab .listViewport .subNav .linkBar,
.Custom21Tab .mComponent .cHeader,
.Custom21Tab .genericTable,
.Custom21Tab .bSubBlock,
.Custom21Tab .bPageBlock{
    border-top: 3px solid #6666CC;
}

/** Hovers **/
.bodyDiv .mruList.individualPalette .Custom21Block .secondaryPalette .pbHeader,
.bodyDiv .hoverDetail .Custom21Block .secondaryPalette .pbHeader,
.lookupHoverDetail .Custom21Block .secondaryPalette .pbHeader{
    border-color: #6666CC;
}



.Custom21Tab .pageTitleIcon, .individualPalette .Custom21Block .pageTitleIcon { background-image: url(/img/icon/computer32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }



.Custom21Mru .mruIcon { background-image: url(/img/icon/computer16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }



.bRelatedList .Custom21Block .relatedListIcon, .allTabTab .Custom21Block .relatedListIcon { background-image: url(/img/icon/computer24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .Custom21Block .relatedListIcon {
    position: relative;
    margin-top:-4px;
    margin-left:5px;
    display: inline;
}

.bRelatedList .Custom21Block .pbTitle h3 {
    margin: 3px 0 0 27px;
}



/* Motif for Aloha Skin */
.Custom24Tab  .primaryPalette,
.individualPalette .Custom24Block .primaryPalette {
    background-color: #A62264;
    border-color: #A62264;
}
.Custom24Tab  .secondaryPalette,
.individualPalette .Custom24Block .secondaryPalette {
    background-color: #A62264;
    border-color: #A62264;
}
.Custom24Tab  .tertiaryPalette,
.individualPalette .Custom24Block .tertiaryPalette,
.layoutEdit .individualPalette .Custom24Block .tertiaryPalette {
    background-color: #C26B96;
    border-color: #C26B96;
}
.Custom24Tab .bgdPalette {
    background-color: #A62264;
}
.Custom24Tab .brdPalette {
    border-top-color: #A62264;
}

/** Page Blocks, Related Lists, Enhanced List and Dashboard **/
.Custom24Tab .listViewport .subNav .linkBar,
.Custom24Tab .mComponent .cHeader,
.Custom24Tab .genericTable,
.Custom24Tab .bSubBlock,
.Custom24Tab .bPageBlock{
    border-top: 3px solid #A62264;
}

/** Hovers **/
.bodyDiv .mruList.individualPalette .Custom24Block .secondaryPalette .pbHeader,
.bodyDiv .hoverDetail .Custom24Block .secondaryPalette .pbHeader,
.lookupHoverDetail .Custom24Block .secondaryPalette .pbHeader{
    border-color: #A62264;
}



.Custom24Tab .pageTitleIcon, .individualPalette .Custom24Block .pageTitleIcon { background-image: url(/img/icon/building32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }



.Custom24Mru .mruIcon { background-image: url(/img/icon/building16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }



.bRelatedList .Custom24Block .relatedListIcon, .allTabTab .Custom24Block .relatedListIcon { background-image: url(/img/sprites/master.png);
	background-position: 0px -390px;width:24px;
	height:24px; }

.bRelatedList .Custom24Block .relatedListIcon {
    position: relative;
    margin-top:-4px;
    margin-left:5px;
    display: inline;
}

.bRelatedList .Custom24Block .pbTitle h3 {
    margin: 3px 0 0 27px;
}



/* Motif for Aloha Skin */
.Custom43Tab  .primaryPalette,
.individualPalette .Custom43Block .primaryPalette {
    background-color: #3366CC;
    border-color: #3366CC;
}
.Custom43Tab  .secondaryPalette,
.individualPalette .Custom43Block .secondaryPalette {
    background-color: #3366CC;
    border-color: #3366CC;
}
.Custom43Tab  .tertiaryPalette,
.individualPalette .Custom43Block .tertiaryPalette,
.layoutEdit .individualPalette .Custom43Block .tertiaryPalette {
    background-color: #7593D7;
    border-color: #7593D7;
}
.Custom43Tab .bgdPalette {
    background-color: #3366CC;
}
.Custom43Tab .brdPalette {
    border-top-color: #3366CC;
}

/** Page Blocks, Related Lists, Enhanced List and Dashboard **/
.Custom43Tab .listViewport .subNav .linkBar,
.Custom43Tab .mComponent .cHeader,
.Custom43Tab .genericTable,
.Custom43Tab .bSubBlock,
.Custom43Tab .bPageBlock{
    border-top: 3px solid #3366CC;
}

/** Hovers **/
.bodyDiv .mruList.individualPalette .Custom43Block .secondaryPalette .pbHeader,
.bodyDiv .hoverDetail .Custom43Block .secondaryPalette .pbHeader,
.lookupHoverDetail .Custom43Block .secondaryPalette .pbHeader{
    border-color: #3366CC;
}



.Custom43Tab .pageTitleIcon, .individualPalette .Custom43Block .pageTitleIcon { background-image: url(/img/icon/jewel32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }



.Custom43Mru .mruIcon { background-image: url(/img/icon/jewel16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }



.bRelatedList .Custom43Block .relatedListIcon, .allTabTab .Custom43Block .relatedListIcon { background-image: url(/img/icon/jewel24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .Custom43Block .relatedListIcon {
    position: relative;
    margin-top:-4px;
    margin-left:5px;
    display: inline;
}

.bRelatedList .Custom43Block .pbTitle h3 {
    margin: 3px 0 0 27px;
}



/* Motif for Aloha Skin */
.Custom62Tab  .primaryPalette,
.individualPalette .Custom62Block .primaryPalette {
    background-color: #00335B;
    border-color: #00335B;
}
.Custom62Tab  .secondaryPalette,
.individualPalette .Custom62Block .secondaryPalette {
    background-color: #00335B;
    border-color: #00335B;
}
.Custom62Tab  .tertiaryPalette,
.individualPalette .Custom62Block .tertiaryPalette,
.layoutEdit .individualPalette .Custom62Block .tertiaryPalette {
    background-color: #3F6075;
    border-color: #3F6075;
}
.Custom62Tab .bgdPalette {
    background-color: #00335B;
}
.Custom62Tab .brdPalette {
    border-top-color: #00335B;
}

/** Page Blocks, Related Lists, Enhanced List and Dashboard **/
.Custom62Tab .listViewport .subNav .linkBar,
.Custom62Tab .mComponent .cHeader,
.Custom62Tab .genericTable,
.Custom62Tab .bSubBlock,
.Custom62Tab .bPageBlock{
    border-top: 3px solid #00335B;
}

/** Hovers **/
.bodyDiv .mruList.individualPalette .Custom62Block .secondaryPalette .pbHeader,
.bodyDiv .hoverDetail .Custom62Block .secondaryPalette .pbHeader,
.lookupHoverDetail .Custom62Block .secondaryPalette .pbHeader{
    border-color: #00335B;
}



.Custom62Tab .pageTitleIcon, .individualPalette .Custom62Block .pageTitleIcon { background-image: url(/img/icon/custom51_100/chalkboard32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }



.Custom62Mru .mruIcon { background-image: url(/img/icon/custom51_100/chalkboard16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }



.bRelatedList .Custom62Block .relatedListIcon, .allTabTab .Custom62Block .relatedListIcon { background-image: url(/img/sprites/master.png);
	background-position: 0px -474px;width:24px;
	height:24px; }

.bRelatedList .Custom62Block .relatedListIcon {
    position: relative;
    margin-top:-4px;
    margin-left:5px;
    display: inline;
}

.bRelatedList .Custom62Block .pbTitle h3 {
    margin: 3px 0 0 27px;
}



/* Motif for Aloha Skin */
.Custom64Tab  .primaryPalette,
.individualPalette .Custom64Block .primaryPalette {
    background-color: #00305E;
    border-color: #00305E;
}
.Custom64Tab  .secondaryPalette,
.individualPalette .Custom64Block .secondaryPalette {
    background-color: #00305E;
    border-color: #00305E;
}
.Custom64Tab  .tertiaryPalette,
.individualPalette .Custom64Block .tertiaryPalette,
.layoutEdit .individualPalette .Custom64Block .tertiaryPalette {
    background-color: #5E82A3;
    border-color: #5E82A3;
}
.Custom64Tab .bgdPalette {
    background-color: #00305E;
}
.Custom64Tab .brdPalette {
    border-top-color: #00305E;
}

/** Page Blocks, Related Lists, Enhanced List and Dashboard **/
.Custom64Tab .listViewport .subNav .linkBar,
.Custom64Tab .mComponent .cHeader,
.Custom64Tab .genericTable,
.Custom64Tab .bSubBlock,
.Custom64Tab .bPageBlock{
    border-top: 3px solid #00305E;
}

/** Hovers **/
.bodyDiv .mruList.individualPalette .Custom64Block .secondaryPalette .pbHeader,
.bodyDiv .hoverDetail .Custom64Block .secondaryPalette .pbHeader,
.lookupHoverDetail .Custom64Block .secondaryPalette .pbHeader{
    border-color: #00305E;
}



.Custom64Tab .pageTitleIcon, .individualPalette .Custom64Block .pageTitleIcon { background-image: url(/img/icon/custom51_100/compass32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }



.Custom64Mru .mruIcon { background-image: url(/img/icon/custom51_100/compass16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }



.bRelatedList .Custom64Block .relatedListIcon, .allTabTab .Custom64Block .relatedListIcon { background-image: url(/img/icon/custom51_100/compass24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .Custom64Block .relatedListIcon {
    position: relative;
    margin-top:-4px;
    margin-left:5px;
    display: inline;
}

.bRelatedList .Custom64Block .pbTitle h3 {
    margin: 3px 0 0 27px;
}



/* Motif for Aloha Skin */
.Custom72Tab  .primaryPalette,
.individualPalette .Custom72Block .primaryPalette {
    background-color: #3044B5;
    border-color: #3044B5;
}
.Custom72Tab  .secondaryPalette,
.individualPalette .Custom72Block .secondaryPalette {
    background-color: #3044B5;
    border-color: #3044B5;
}
.Custom72Tab  .tertiaryPalette,
.individualPalette .Custom72Block .tertiaryPalette,
.layoutEdit .individualPalette .Custom72Block .tertiaryPalette {
    background-color: #5E68C4;
    border-color: #5E68C4;
}
.Custom72Tab .bgdPalette {
    background-color: #3044B5;
}
.Custom72Tab .brdPalette {
    border-top-color: #3044B5;
}

/** Page Blocks, Related Lists, Enhanced List and Dashboard **/
.Custom72Tab .listViewport .subNav .linkBar,
.Custom72Tab .mComponent .cHeader,
.Custom72Tab .genericTable,
.Custom72Tab .bSubBlock,
.Custom72Tab .bPageBlock{
    border-top: 3px solid #3044B5;
}

/** Hovers **/
.bodyDiv .mruList.individualPalette .Custom72Block .secondaryPalette .pbHeader,
.bodyDiv .hoverDetail .Custom72Block .secondaryPalette .pbHeader,
.lookupHoverDetail .Custom72Block .secondaryPalette .pbHeader{
    border-color: #3044B5;
}



.Custom72Tab .pageTitleIcon, .individualPalette .Custom72Block .pageTitleIcon { background-image: url(/img/icon/custom51_100/helicopter32.png);
	background-position: 0px 0px;width:32px;
	height:32px; }



.Custom72Mru .mruIcon { background-image: url(/img/icon/custom51_100/helicopter16.png);
	background-position: 0px 0px;width:16px;
	height:16px; }



.bRelatedList .Custom72Block .relatedListIcon, .allTabTab .Custom72Block .relatedListIcon { background-image: url(/img/icon/custom51_100/helicopter24.png);
	background-position: 0px 0px;width:24px;
	height:24px; }

.bRelatedList .Custom72Block .relatedListIcon {
    position: relative;
    margin-top:-4px;
    margin-left:5px;
    display: inline;
}

.bRelatedList .Custom72Block .pbTitle h3 {
    margin: 3px 0 0 27px;
}



