.THIS .uiInputNumber {width: 60px; text-align: right;}
.THIS .slds-col--padded-medium .uiInputNumber {width: 90px!important; text-align: right;}
.THIS .align-right{
    text-align: right;
}
.THIS .slds-col, .THIS .slds-card__header, .THIS .slds-col--padded-medium{padding-bottom: 10px!important;}
.THIS .hidden {display: none;}
.THIS p {margin: 5px;}